@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.down__section {
  width: 100vw;
  max-width: 1920px;
  height: 90vh;
  padding: 0 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.down__section-head,
.down__section-img {
  width: 50%;
  height: 100%;
}
.down__section-head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.down__section-button-cont {
  width: 80%;
  display: flex;
  justify-content: flex-start;
}
.btn__googlePlay,
.btn__appStore {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid black;
  background: black;
  border-radius: 10px;
  width: 200px;
  height: 65px;
  padding: 0.5rem;
  color: white;
}
.btn__googlePlay {
  margin-right: 2rem;
}
.btn__gplay-img {
  width: 35px;
  height: 100%;
  background-image: url("./asset/googlePlay.webp ");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn__app-img {
  width: 35px;
  height: 100%;
  background-image: url("./asset/applelogo.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.btn__content span:first-child {
  font-size: 14px;
}
.btn__content span:last-child {
  font-size: 20px;
  font-weight: 700;
}

.down__section-head h2 {
  color: #5d534a;
  font-size: 55px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0.003em;
  text-align: left;
}
.down__section-head p {
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0.005em;
  text-align: left;
  color: #555555;
  margin: 2rem 0;
}

.down__section-img {
  background-image: url("./asset/mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
